body {
    background-color: #afd275;
    padding: 0;
    margin: 0;
}

/* Global Style */
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    /* border: 3px solid; */
}

.button_1 {
    height: 25px;
    background: #e7717d;
    color: #fff;
    border: 0;
    padding: 0 10px;
}

/* Header Section */
header {
    background-color: #e7717d;
    color: #fff;
    padding-top: 30px;
    min-height: 90px;
    border-bottom: 3px #7e685a solid;
}

header nav {
    float: right;
    margin-top: 20px;
}

header a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    float: left;
    padding: 0 20px;
}

header #branding {
    float: left;
}

header #branding h1 {
    margin-top: 10px;
}

header a:hover {
    color: #F64C72;
    text-decoration: underline;
}

/* Showcase Section */
section#showcase {
    background-image: linear-gradient(to bottom, #f0f0f0, #C2B9B0);
    min-height: 400px;
    /* background-color: #ccc; */
    text-align: center;
    color: #000;
}

section#showcase h1 {
    margin-top: 100px;
    margin-bottom: 25px;
    font-size: 45px;
}

section#showcase p {
    font-size: 20px;
}

/* Newsletter Section */
section#newsletter {
    padding: 15px;
    background-color: #7e685a;
    color: #fff;
}

section#newsletter h1 {
    float: left;
}

section#newsletter form {
    float: right;
    margin-top: 20px;
}

section#newsletter input[type="email"] {
    padding: 3px;
    height: 15px;
    width: 200px;
}

/* Topis Section */
section#topics {
    margin-top: 20px;
}

section#topics .column {
    width: 30%;
    float: left;
    padding: 10px;
    text-align: center;
}

section#topics .column img {
    width: 100px;
}

/* Footer Section */
footer {
    padding: 10px;
    margin-top: 10px;
    background-color: #7e685a;
    color: #fff;
    text-align: center;
}

/* Media Query Section */
@media(max-width: 768px) {
    header #branding, 
    header nav, 
    header nav ul li {
        float: none;
        width: 100%;
        text-align: center;
    }

    header nav ul li {
        display: inline;
    }

    header {
        padding-bottom: 20px;
    }

    section#showcase h1 {
        margin-top: 30px;
    }

    section#newsletter h1,
    section#newsletter form {
        float: none;
        width: 100%;
        text-align: center;
        margin-top: 0;
    }

    section#newsletter button {
        display: block;
        width: 100%;
    }

    section#newsletter form input[type="email"] {
        width: 100%;
        margin-bottom: 5px;
    }

    section#topics .column {
        float: none;
        width: 100%;
        text-align: center;
        margin: 0;
        padding: 0;
        /* border: 1px solid #000; */
    }
}